# LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.run.xml
*.glo
*.gls
*.glg
*.ist
*.alg
*.acr
*.acn
*.nav
*.snm
*.vrb
*.lof

# Backup and swap files
*~
*.bak
*.backup
*.swp
*.swo
*.save
*-SAVE-ERROR

# PDF output
rapport.pdf
presentation.pdf

# latexmk config 
latexmkrc

# Misc
Courrier CSTMT  MRD MM CSTMT350.doc
courrier_cstmt_mrd_mm.pdf
TP53.pptx